{% extends "user_auth/base.html" %}

{% block body_block %}

{% if user.is_authenticated %}
    {% if messages %}
        <ul class="messages success">
        {% for message in messages %}
            <div class="text-success bg-info">
                 <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> {{ message }}</span>
                 </p>
            </div>
           
        {% endfor %}
        </ul>
    {% endif %}
    
<div class="row">
    <div class='success'>
        <div class='col-md-3'>
            
            <h3 class='text-info'>Cloth </h3>
            <img src="{{ cloth.cloth_image.url }}"  class="img-rounded" alt="{{cloth.cloth_description}}"/>
            <p> {{cloth.cloth_description }} </p>
          
            <a href="/auth/dash/">
                <button type='button' class='btn btn-info'>Back</button>
            </a>
            {%if clothfacts %}
            <a href="/auth/update_cloth_facts/{{cloth.id}}/view">
                <button type='button' class='btn btn-success'>Update</button>
            </a>
            {%endif%}
          
            <a href="/auth/delete_cloth/{{cloth.id}}/delete">
                    <button type='button' id="{{cloth.id}}" class='btn btn-danger delete_cloth'>Delete</button>
            </a>
            
        </div>
        
        <div class='col-md-6'>
        {%if clothfacts %}    
        <h3 class='text-info'>Cloth Characteristics</h3>
            <span style="font-size: large">Type: &nbsp{{ clothfacts.cloth_type|capfirst }}</span><br/>
            <span style="font-size: large">Material/Fabric: &nbsp{{ clothfacts.cloth_material|capfirst }}</span><br/>
            <span style="font-size: large">Color:&nbsp {{ clothfacts.cloth_color|capfirst }}</span><br/>
            <span style="font-size: large">Print: &nbsp {{ clothfacts.cloth_print|capfirst }}</span><br/>
        
        {%else%}
        <div class="jumbotron">
        <h3 class='text-info'>Add Cloth Facts</h3>
        <form role="form"  method="post" action="/auth/get_facts/{{cloth.id}}/view/" >
            <fieldset>
            {% csrf_token %}
        
            {% load crispy_forms_tags %}
            {% crispy clothform %}
            </fieldset>
            
            <button type="submit" class="btn btn-success">Add</button>
        </form>
        {%endif%}
        </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}