{% extends "user_auth/base.html" %}

{% block body_block %}

    {% if messages %}
        <b>{{ username }}</b><br/>
        <ul class="messages bg-info">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} text-success"{% endif %}>
            
        {% endfor %}
        </ul>
    {% endif %}

<div class='row'>
    <div class='col-md-offset-3 col-md-6'>
        <div class="jumbotron">
        <h3 class='text-info'>Upload Cloth to Your Closet</h3>
        <form role="form"  method="post" action="/auth/closet_upload/" enctype="multipart/form-data">
        <fieldset>
        {% csrf_token %}
        
        {% load crispy_forms_tags %}
        {% crispy clothform %}
        </fieldset>
        <button type="submit" class="btn btn-success">Complete</button>
        </form>
        </div>
    </div>
</div>

{% endblock %}
