
{% extends "user_auth/base.html" %}
{% load staticfiles %}


{% block body_block %}
    
    <div class="row">
        {% if messages %}
        <ul class="messages success">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="bg-danger">
                <span class="glyphicon glyphicon-warning-sign text-error" aria-hidden="true"> {{ message }}</span>
                </li>
                {%else%}
                    <li class="bg-info">
                    <span class="glyphicon glyphicon-info-sign text-success" aria-hidden="true">
                    {{ message }}</span>
                    </li>
            {% endif %}
            
            </p>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Closet</h3>
        </div>
    <div class="panel-body">
        {% for clothi in cloths%}
            {%for cloth in clothi %}
        <div class='col-md-4'>
            <a href="/auth/get_facts/{{cloth.id}}/view/">
                
            <img src="{{ cloth.cloth_image.url }}" class='img-rounded' alt="{{cloth.cloth_description}}" />
            </a>
            <p class="text-center"> <strong><i> {{cloth.cloth_description }} </i> </strong> </p>
        
        </div>
            {%endfor%}
        {% endfor %}
     </div>
    </div>
        
{% endblock %}
   

