
{% extends "user_auth/base.html" %}
{% load staticfiles %}


{% block body_block %}
    
    <div class="row">
        <div class="col-md-12">
        {% if messages %}
        <ul class="messages success">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="bg-danger">
                <span class="glyphicon glyphicon-warning-sign text-error" aria-hidden="true"> {{ message }}</span>
                </li>
                {%else%}
                    <li class="bg-info">
                    <span class="glyphicon glyphicon-info-sign text-success" aria-hidden="true">
                    {{ message }}</span>
                    </li>
            {% endif %}
            
            </p>
        {% endfor %}
        </ul>
    {% endif %}
    <h3 class="text-info">Closet</h3>
        {%if not cloths.0 %}
        <span class="glyphicon glyphicon-info-sign text-error" aria-hidden="true">
            <span class='text-danger'>No Clothes in Closet.</span>
        </span>
        <span>
                <a href="{% url 'closet_upload' %}">
                <button class="btn btn-success">Upload to Closet</button>
                 </a>
        </span> 
        {%endif%}
        {% for clothi in cloths%}
            
        {% if clothi %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="Event_{{forloop.counter}}">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#id_{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                    Group-{{forloop.counter}}
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                  </a>
                </h4>
            </div>
        <div id="id_{{forloop.counter}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Event_{{forloop.counter}}">
        <div class="panel-body">
        {%for cloth in clothi %}
        <div class='col-md-4'>
            <a href="/auth/get_facts/{{cloth.id}}/view/">
                
            <img src="{{ cloth.cloth_image.url }}" class='img-rounded' alt="{{cloth.cloth_description}}" />
            </a>
            <p class="text-center"> <strong><i> {{cloth.cloth_description }} </i> </strong> </p>
        
        </div>
        {%endfor%}
         </div>
        </div>
        </div>
        {%endif%}
        {% endfor %}
    </div>
    </div>
        
{% endblock %}
   

