
{% extends "user_auth/base.html" %}
{% load staticfiles %}


{% block body_block %}
    
    {% if messages %}
        <ul class="messages success bg-info">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <span class="glyphicon glyphicon-warning-sign text-error" aria-hidden="true"> {{ message }}</span>
                {%else%}
                    <span class="glyphicon glyphicon-info-sign text-success" aria-hidden="true"> {{ message }}</span>
            {% endif %}
            
            </p>
        {% endfor %}
        </ul>
    {% endif %}
    <h1 class='text-info'>Closet</h1>
    <div class="row">
        {% for cloth in cloths%}
        <div class='col-md-4'>
            <a href="/auth/get_facts/{{cloth.id}}/view/">
                
            <img src="{{ cloth.cloth_image.url }}" class='img-rounded' alt="{{cloth.cloth_description}}" />
            </a>
            <p class="text-center"> <strong><i> {{cloth.cloth_description }} </i> </strong> </p>
        
        </div>
        {% endfor %}
    </div>
        
{% endblock %}
   

