
{% extends "user_auth/base.html" %}
{% load staticfiles %}
{% load i18n common %}

{% block body_block %}
     <h1 class='text-info'>Day's Outfit</h1>
    {% if messages %}
        <ul class="messages bg-info">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <span class="glyphicon glyphicon-warning-sign text-error bg-danger" aria-hidden="true"> {{ message }}</span>
                {%else%}
                    <span class="glyphicon glyphicon-info-sign text-success" aria-hidden="true"> {{ message }}</span>
            {% endif %}
            
            </p>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="row">
        {% if not activities %}
            <span class="glyphicon glyphicon-info-sign text-error" aria-hidden="true">
            <span class='text-danger'>No activity available for the Day</span>
             </span> <br/>
            <a href="{% url 'add_user_activity' %}">Add Activity</a>
        {%endif%}
        
        {% for activity in activities %}
        <dl>
          <dt><span class='text-info'> Location:</span>
          <span>&nbsp{{activity.event_location|capfirst }}</span>
          <span class="text-info">EventName:</span>
          <span>&nbsp{{activity.event_name|capfirst}}</span>
          </dt>
            
        {% for cloth in clothes.0 %}
        <dd>
            <a href="/auth/get_facts/{{cloth.id}}/view/">
            <img src="{{ cloth.cloth_image.url }}" class='img-rounded text-center' alt="{{cloth.cloth_description}}" />
            </a>
            <p class="text-left"> <strong><i> {{cloth.cloth_description }} </i> </strong> </p
        </dd>
    {% endfor %}
    <hr>
    </dl>
    {%endfor%}
    
    </div>
    </div>
        
{% endblock %}
   