
{% extends "user_auth/base.html" %}
{% load staticfiles %}
{% load i18n common %}

{% block body_block %}
     <h2 class='text-info'>Day's Outfit</h2>
    {% if messages %}
        <ul class="messages alert alert-success">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <span class="glyphicon glyphicon-warning-sign text-error bg-danger" aria-hidden="true"> {{ message }}</span>
                {%else%}
                    <span class="glyphicon glyphicon-info-sign text-success" aria-hidden="true"> {{ message }}</span>
            {% endif %}
            
            </p>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="row">
        
        {% if not activities %}
            <div class="bg-info">
                <span class="glyphicon glyphicon-info-sign text-error" aria-hidden="true">
                <span class='text-danger'>No activity available for the Day</span>
                 </span>
                <span>
                    <a href="{% url 'add_user_activity' %}">
                        <button class="btn btn-success">Add Activity</button>
                     </a>
                </span>
            </div>
            
        {%endif%}
        <div class="col-md-12">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        {% for activity in activities %}
            <div class="panel {{activity.3}}">
            <div class="panel-heading" role="tab" id="Event_{{forloop.counter}}">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#id_{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                    Event {{forloop.counter}}-{{activity.0.category|capfirst }}->{{activity.0.event_date}}
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                  </a>
                </h4>
              </div>
            
            <div id="id_{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Event_{{forloop.counter}}">
            <div class="panel-body">
            <div>
                <span class='text-info'> Type:</span>
                <span>&nbsp;{{activity.0.category|capfirst }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="text-info">Start Time:</span>
                <span>&nbsp{{activity.0.start_time|capfirst}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class='text-info'> Location:</span>
                <span>&nbsp{{activity.0.event_location|capfirst }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="text-info">EventName:</span>
                <span>&nbsp{{activity.0.event_name|capfirst}}</span>  
            </div>
          
          <div>
            <h4>Weather</h4>
           
            {% if activity.2.condition %}
                
                   <span class="text-info">Tempratures:</span>
                   <span>
                   {{ activity.2.condition.temp}}
                   </span>
                   <br/>
                   <span>
                   <img src="{{activity.2.condition.image }}"/>
                    {{ activity.2.condition.text}}
                   </span>
                
            {%else%}
                     
                    <span class="text-info">Tempratures:</span>
                    <span>{{ activity.2.temp}}</span>
                    <br/>
                    <span class="text-info"> Condition:</span>
                    <span>{{ activity.2.text}}</span>
                 
            {%endif%}
                
            </div>
        <h4>Clothes</h4>
        <div class="table-responsive">
        <table class="table table-hover">
        {% if not activity.1 %}
            
            <span class="glyphicon glyphicon-info-sign text-error" aria-hidden="true">
            <span class='text-danger'>No appropiate Match in the closet</span>
             </span>
            <span>
                <a href="{% url 'closet_upload' %}">
                    <button class="btn btn-success">Add Clothes</button>
                 </a>
            </span>
            
        {%endif%}
        {% for cloth in activity.1 %}
        
        {% ifequal forloop.counter 1 %}
            <tr>
        {%endifequal%}
        <td>
            <a href="/auth/get_facts/{{cloth.id}}/view/">
            <img src="{{ cloth.cloth_image.url }}" class='img-rounded text-center' alt="{{cloth.cloth_description}}" />
            </a>
            <p class="text-left"> <strong><i> {{cloth.cloth_description }} </i> </strong> </p
        </td>
        {% if forloop.counter in ui_list.1 %}
            </tr>
            <tr>
        {%endif%}
        
        {% endfor %}
        </tr>
        </table>
        </div>
    <hr>
    </div>
    </div>
    </div>
        
    {%endfor%}
    
    <label>Legend</label>
    <table>
            <tr class="bg-default">
                <td class="alert alert-success">Today's Event<td>
                <td class="alert alert-info">Upcoming Event  <td>
            </tr>
    </table>
        
    </div>
    </div>
    </div>
    </div>
        
{% endblock %}
   