
{% extends "user_auth/base.html" %}
{% load staticfiles %}
{% load i18n common %}

{% block body_block %}
     <h1 class='text-info'>Day's Outfit</h1>
    {% if messages %}
        <ul class="messages bg-info">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <span class="glyphicon glyphicon-warning-sign text-error bg-danger" aria-hidden="true"> {{ message }}</span>
                {%else%}
                    <span class="glyphicon glyphicon-info-sign text-success" aria-hidden="true"> {{ message }}</span>
            {% endif %}
            
            </p>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="row">
        {% if not activities %}
            <span class="glyphicon glyphicon-info-sign text-error" aria-hidden="true">
            <span class='text-danger'>No activity available for the Day</span>
             </span>
            <span>
                <a href="{% url 'add_user_activity' %}">
                    <button class="btn btn-success">Add Activity</button>
                 </a>
            </span>
                 
        {%endif%}
        <div class="col-md-8">
        {% for activity in activities %}
            <div>
                <h3>Event_{{forloop.counter}}</h3>
                <span class='text-info'> Type:</span>
                <span>&nbsp{{activity.0.category|capfirst }}</span>
                <span class="text-info">Start Time:</span>
                <span>&nbsp{{activity.0.start_time|capfirst}}</span>  
                <span class='text-info'> Location:</span>
                <span>&nbsp{{activity.0.event_location|capfirst }}</span>
                <span class="text-info">EventName:</span>
                <span>&nbsp{{activity.0.event_name|capfirst}}</span>  
            </div>
          
          <div>
            <h4>Weather</h4>
            <span>Tempratures:
                {{ activity.2.condition.temp}}
                </span>
                <br/>
                <span>
                <img src="{{activity.2.condition.image }}"/>
                 {{ activity.2.condition.text}}
                </span>
            </div>
        <h4>Clothes</h4>
        <table>
        {% if not activity.1 %}
            
            <span class="glyphicon glyphicon-info-sign text-error" aria-hidden="true">
            <span class='text-danger'>No appropiate Match in the closet</span>
             </span>
            <span>
                <a href="{% url 'closet_upload' %}">
                    <button class="btn btn-success">Add Clothes</button>
                 </a>
            </span>
            
        {%endif%}
        {% for cloth in activity.1 %}
        
        {% ifequal forloop.counter 1 %}
            <tr>
        {%endifequal%}
        <td>
            <a href="/auth/get_facts/{{cloth.id}}/view/">
            <img src="{{ cloth.cloth_image.url }}" class='img-rounded text-center' alt="{{cloth.cloth_description}}" />
            </a>
            <p class="text-left"> <strong><i> {{cloth.cloth_description }} </i> </strong> </p
        </td>
        {% if forloop.counter in ui_list.1 %}
            </tr>
            <tr>
        {%endif%}
        
        {% endfor %}
        </tr>
    </table>
    <hr>
    {%endfor%}
    </div>
    
    
    </div>
    </div>
        
{% endblock %}
   