
{% extends 'user_auth/base.html' %}
{% block body_block %}

    <div class='col-md-6 col-md-offset-3'>
        <div class="jumbotron">
        <div class="bg-danger">
             {% if invalid %}
            <span class='text-danger'>{{invalid}}</span><br/>
            <span>Forgot Password ...<a href="{% url 'password_reset_recover' %}">
                <button class="btn btn-sm btn-warning">Reset</button>
            </a>
            </span>
            {% endif %}
        </div>
       
        <h3>Login</h3>
        <form id="login_form" method="post" action="{% url 'login' %}">
             {% csrf_token %}
            <div class='form-group'>
            Username: <input type="text" class="form-control" name="username" value="" size="50" required
            autofocus />
            <br />
            Password: <input type="password" class="form-control" name="password" value="" size="50" required />
            <br />
            </div>
    
            
         <input type="submit" class="btn btn-success" value="Login" />        
        </form>
        <div class="col-md-offset-8">
                <a href="{% url 'password_reset_recover' %}">
                <button class="btn btn- btn-warning">Forgot Password</button>
            </a>
         </div>
    </div>
</div>
{% endblock %}
