
{% extends 'user_auth/base.html' %}
{% block body_block %}

    <div class='col-md-6 col-md-offset-3'>
        <div class="jumbotron">
        <h3>Login</h3>
        <form id="login_form" method="post" action="{% url 'login' %}">
             {% csrf_token %}
            <div class='form-group'>
            {% if invalid %}
            <p class='infoWarning'>Invalid Login details</p>
            {% endif %}
           
            Username: <input type="text" class="form-control" name="username" value="" size="50" />
            <br />
            Password: <input type="password" class="form-control" name="password" value="" size="50" />
            <br />
            </div>
    
            <input type="submit" class="btn btn-large btn-success" value="Login" />
        </form>
    </div>
</div>
{% endblock %}
