{% extends "user_auth/base.html" %}

{% block body_block %}

{% if user.is_authenticated %}
    {% if messages %}
        <ul class="messages bg-info">
        {% for message in messages %}
            <div class="text-success bg-info">
                 <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> {{ message }}</span>
                 </p>
            </div>
           
        {% endfor %}
        </ul>
    {% endif %}
    
<div class="row">
    <div class='col-md-12'>
        <h3 class='text-info'>Report</h3>
            <div class="panel panel-default">
            <div class="table-responsive">
            <table class='table table-stripped table-hover '>
                <tr>
                    <td><strong>User</strong></td>
                    <td><strong>Date Joined</strong></td>
                    <td><strong>User Active</strong></td>
                    <td><strong>SuperUser</strong></td>
                    <td><strong># Of Clothes</strong></td>
                    <td><strong># Of Activities</strong></td>
                    <td><strong>Today's Activities</strong></td>
                </tr>
            
                {% for user in userslist %}
                    
                    <tr class="bg-info">
                        <td>{{user.0.username}} </td>
                        <td>{{user.0.date_joined}} </td>
                        <td>{{user.0.is_active}} </td>
                        <td>{{user.0.is_superuser}} </td>
                        <td>{{user.1}} </td>
                        <td>{{user.2}} </td>
                        <td>{{user.3}} </td>
                    </tr>
                {%endfor%}
                
                <tr class="bg-warning">
                    <td>Totals</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{calculations.totalC}}</td>
                    <td>{{calculations.totalA}}</td>
                    <td>{{calculations.totalT}}</td>
                </tr>
                
                <tr class="bg-warning">
                    <td>Averages</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{calculations.avgC}}</td>
                    <td>{{calculations.avgA}}</td>
                    <td>{{calculations.avgT}}</td>
                </tr>
            </table>
       
    </div>

</div>
{% endif %}
{% endblock %}