{% extends "user_auth/base.html" %}

{% block body_block %}



{% if user.is_authenticated %}
    {% if messages %}
        <ul class="messages alert alert-success">
        {% for message in messages %}
            <div class="text-success bg-info">
                 <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> {{ message }}</span>
                 </p>
            </div>
           
        {% endfor %}
        </ul>
    {% endif %}
    
<div class="row">
    <div class='col-md-12'>
        <h3 class='text-info'>User/System Analytics</h3>
            <div class="panel panel-default">
            <div class="table-responsive">
            <table class='table table-stripped table-hover ' id="panel_table">
                <thead class="active">
                    <td><strong>User</strong></td>
                    <td><strong>Date Joined</strong></td>
                    <td><strong>User Active</strong></td>
                    <td><strong>SuperUser</strong></td>
                    <td><strong>Residence</strong></td>
                    <td><strong># Of Clothes</strong></td>
                    <td><strong># Of Activities</strong></td>
                    <td><strong>Today's Activities</strong></td>
                </thead>
            
                {% for user in userslist %}
                    <tr class="">
                        <td>{{user.0.username}} </td>
                        <td>{{user.0.date_joined}} </td>
                        <td>{{user.0.is_active}} </td>
                        <td>{{user.0.is_superuser}} </td>
                        <td>{{user.4.residence}}</td>
                        <td>{{user.1}} </td>
                        <td>{{user.2}} </td>
                        <td>{{user.3}} </td>
                    </tr>
                {%endfor%}
                
            <tfoot>
                <tr class="bg-success">
                    <td>Totals</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{calculations.totalC}}</td>
                    <td>{{calculations.totalA}}</td>
                    <td>{{calculations.totalT}}</td>
                </tr>
                
                <tr class="bg-success">
                    <td>Averages</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{calculations.avgC}}</td>
                    <td>{{calculations.avgA}}</td>
                    <td>{{calculations.avgT}}</td>
                </tr>
            </tfoot>
                
            </table>
       
    </div>
     <div class='col-md-12'>
            <h3 class='text-info'>User Activities</h3>
            <div class="table-responsive">
            <table class='table table-stripped table-hover ' id="activity_table">
                <thead class="active">
                    <td>#</td>
                    <td><strong>Category</strong></td>
                    <td><strong>Event</strong></td>
                    <td><strong>Location</strong></td>
                    <td><strong>Date</strong></td>
                    <td><strong>StartTime</strong></td>
                </thead>
            
                {% for item in all_activities %}
                    
                    <tr>
                        <td>{{forloop.counter}} </td>
                        <td>{{item.category}} </td>
                        <td>{{item.event_name}} </td>
                        <td>{{item.event_location}} </td>
                        <td>{{item.event_date}} </td>
                        <td>{{item.start_time}} </td>
                
                    </tr>
                {%endfor%}
               
            </table>
            
        </div>
     </div>

</div>
{% endif %}
{% endblock %}