{% extends "user_auth/base.html" %}

{% block body_block %}

{% if user.is_authenticated %}
    {% if messages %}
        <ul class="messages bg-info">
        {% for message in messages %}
            <div class="text-success bg-info">
                 <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> {{ message }}</span>
                 </p>
            </div>
           
        {% endfor %}
        </ul>
    {% endif %}
    
<div class="row">
    <div class='col-md-12'>
       
    </div>

</div>
{% endif %}
{% endblock %}