
{% extends "user_auth/base.html" %}
{% load staticfiles %}


{% block body_block %}
     <h1 class='text-info'>MyCloset</h1>
    {% if messages %}
        <ul class="messages success">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }} text-success "{% endif %}>{{ message }}</p>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="row">
        {% for cloth in cloths%}
        <div class='col-md-4'>
            <img src="{{ cloth.cloth_image.url }}" />
            <p> {{cloth.cloth_description }} </p>
        </div>
        {% endfor %}
    </div>
        
{% endblock %}
   

