
{% extends "user_auth/base.html" %}
{% load staticfiles %}


{% block body_block %}
    
    {% if messages %}
        <ul class="list-unstyled messages bg-info">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} text-success"{% endif %}>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> {{ message }}</span></p>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="row">
        <div class='col-md-12'>
            <h3 class='text-info'>MyActivities</h3>
            <div class="panel panel-default">
            <div class="table-responsive">
            <table class='table table-stripped table-hover '>
                <tr>
                    <td>#</td>
                    <td><strong>Category</strong></td>
                    <td><strong>Event</strong></td>
                    <td><strong>Location</strong></td>
                    <td><strong>Date</strong></td>
                    <td><strong>StartTime</strong></td>
                </tr>
            
                {% for item in activities %}
                    
                    <tr id="{{item.0.activity_id}}" >
                        <td>{{forloop.counter}} </td>
                        <td>{{item.0.category}} </td>
                        <td>{{item.0.event_name}} </td>
                        <td>{{item.0.event_location}} </td>
                        <td>{{item.0.event_date}} </td>
                        <td>{{item.0.start_time}} </td>
                        <td class="delete_activity">
                        <button class="btn btn-danger btn-small" id="{{item.0.activity_id}}">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </button> </td>
                    </tr>
                {%endfor%}
        
            </table>
            </div>
            </div>
            
            
            <div>
                <h4 class="text-info">Weather Details For Today's Events:</h4>
                {% if not weather_st%}
                    <span>No Today's Weather Details </span>
                    <a href='{% url "add_user_activity" %}'>
                    <button class="btn btn-success">Add today's Activity</button>
                    </a>
                {%endif%}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for weather in weather_st%}
                    <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="id_{{forloop.counter}}">
                      <h4 class="panel-title text-info">
                        <a data-toggle="collapse" data-parent="#accordion" href="#item_{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                         {{forloop.counter}}-{{ weather.location.city }},{{ weather.location.country }}
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </a>
                      </h4>
                    </div>
                    <div id="item_{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="id_{{forloop.counter}}">
                      <div class="panel-body">       
                        <div class='col-md-6'>
                        <h4>Today's Weather</h4>
                        <strong>Date:
                        {{ weather.lastBuildDate}}</strong>
                        <span>Temp:
                        {{ weather.condition.temp}}
                        </span>
                        <span>Code:
                         {{ weather.condition.code}}
                         </span>
                        <br/>
                        <span>
                        <img src="{{weather.condition.image }}"/>
                         {{ weather.condition.text}}
                        </span>
                        <h4>Forecast for the region</h4>
                        {% for forecast in weather.forecast %}
                         <h5><strong>{{ forecast.date}}</strong></h5>
                         <span>Temp:
                        High={{ forecast.high}}, Low={{ forecast.low}}</span>
                        <span>Code:
                         {{ forecast.code}}</span>
                        <span>Condition:
                         {{ forecast.text}}
                        </span>
                        <br/>
                       {%endfor%}
                       </div>
                        <h4>MAP</h4>
                        <div class="btn-show">
                        <button class="btn btn-sm btn-default" onclick="codeAddress()">Show</button>
                        <input type="hidden" id="address" value="{{ weather.location.city }},
                            {{ weather.location.country }}" />
                        </div>
                        <div id="googleMap" style="width:500px;height:380px;"></div>
                      </div>
                    </div>
                </div>
                    {% endfor %}
                </div>
            </div>
           
           
        </div>
    </div>
        
{% endblock %}
   
