
{% extends "user_auth/base.html" %}
{% load staticfiles %}


{% block body_block %}
     <h2 class='text-info'>MyActivities</h2>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} text-success"{% endif %}>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> {{ message }}</span></p>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="row">
        <div class=''>
            <table class='table table-responsive table-stripped table-hover '>
                <thead>
                    <td>Category</td>
                    <td>Event</td>
                    <td>Location</td>
                    <td>Date</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                </thead>
                {% for item in activities %}
                    <tr>
                        <td>{{item.category}} </td>
                        <td>{{item.event_name}} </td>
                        <td>{{item.event_location}} </td>
                        <td>{{item.event_date}} </td>
                        <td>{{item.start_time}} </td>
                        <td>{{item.end_time}} </td>
                        <td> <a href="/auth/delete_activity/{{item.activity_id}}/delete/" class="text-danger">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </a> </td>
                    </tr>
                {% endfor %}
                            
            </table>
            <p>
                <h3>Weather Predicitions</h3>
                {% for weather in weather_st%}
                <h4>Condition: {{weather.text}} <br/> tempratures: {{weather.temp}}
                <br/> Date: {{weather.date}}</h4>
                <img src="{{weather.image }}"/>
                <br/>
            {%endfor%}
            {{weather_st}}
            </p>
           
        </div>
    </div>
        
{% endblock %}
   
